<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listando <small>Clientes</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Clientes</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_cliente_path(@cliente), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nuevo Cliente
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Nombre</th>
              <th>Rut</th>
              <th>Fono</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @clientes) do |cliente| %>
              <td><%= cliente.nombre %></td>
              <td><%= cliente.rut %></td>
              <td><%= cliente.fono %></td>
                            <td><%= link_to 'Mostrar', cliente %></td>
                <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
                <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Seguro?' } %></td>
              <% end %>
             
      
      
   <%= form_tag({:controller => "clientes", :action => "ajuste"}, :method => "get") do %>
   <%= label_tag "rut", "Rut a Predeterminar:" %>

   <%= text_field_tag "rut", "", :size => 30, :maxlenght => 30, :placeholder => "18828818-9", :required => "required" %>

   <%= submit_tag "Enviar" %>
<% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

