<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listando <small>Carro de Productos</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Carro de Productos</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
        
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                 <th>Precio</th>
             <th>Producto</th>
              <th>ID de Producto</th>
              
           
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%
 contador = 0;
contador2 = 0;
%>
              <%= content_tag_for(:tr, @carros) do |carro| %>
              <td>$<%= carro.producto.precio%></td>
                   <td><%= carro.producto.nombre%></td>
              <td><%= carro.producto_id %></td>
        
              
                     
              <% contador += carro.producto.precio; %>
                   <% contador2 += 1 %>     
                <td><%= link_to 'Quitar', carro, method: :delete, data: { confirm: '¿Seguro?' } %></td>
              <% end %>
                <tr><th>Precio Total</th><th>N°Productos en el Carro</th></tr>
                <td><%= "$ #{contador}" %> </td><td><%= "#{contador2}" %> </td>
            
   <%= form_tag({:controller => "carros", :action => "acomprar"}, :method => "get") do %>
  
   <%= label_tag "rutcliente", "Rut Cliente:" %>
<p>
   <%= text_field_tag "rutcliente", "", :size => 30, :maxlenght => 30, :placeholder => "Rut Cliente", :required => "required" %>
<p>
    <%= label_tag "rutvendedor", "Rut Vendedor:" %>
<p>
   <%= text_field_tag "rutvendedor", "", :size => 30, :maxlenght => 30, :placeholder => "Rut Vendedor", :required => "required" %>
 <p>
 <% if contador2 == 0  %>
<%= "El carro no puede estar vacío." %>
 <% else %>
   <%= submit_tag "Enviar" %>
   <% end %>
<% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

