<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listando <small>Productos</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Principal</a></li>
      <li class="active">Productos</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_producto_path(@producto), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nuevo Producto
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>ID de Producto</th>
              <th>Nombre</th>
              <th>Precio</th>
             
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%
 contador = 0;

%>
              <%= content_tag_for(:tr, @productos) do |producto| %>
              <td><%= producto.id %></td>
              <td><%= producto.nombre %></td>
              <td><%= producto.precio %></td>

<% contador += 1; %>
                            <td><%= link_to 'Al Carro', tester_producto_path(producto), :target => '_blank', data: { confirm: '¿Estás seguro?' } %></td>
                            <td><%= link_to 'Mostrar', producto %></td>
                <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
                <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
              <% end %>
                <tr><th>N°Productos</th></tr>
                <td><%= "#{contador}" %> </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

